.dialogBox_place,
a {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 20px 10px;
	padding-bottom: 0px;

	/* box-sizing: content-box; */
}

a {
	padding: 0;
	text-decoration: none;
	color: black;
}

.dialogBox_place:hover {
	background: #cdcccc;
}

.dialogBox {
	/* 
    outline: 1px solid red;
    margin-top: 40px; 
    */
	height: 75px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	/* 
    color: white; 
    background-color: #4a76a8; 
    border-radius: 15px; 
    */
	padding: 10px;

	/* 
    text-align: justify;
    max-width: 60%; 
    word-break: break-all; 
    */
	cursor: pointer;
	border-bottom: 1px solid #242424;
}

.dialogBox .time {
	/* 
    width: 100%;
    text-align: right;
    font-size: var(--fontMinSize);
    margin-top: 5px; 
    */
	color: red;
}

.name_with_text {
	display: flex;
	flex-direction: column;
	flex-grow: 10;
}

.avatar {
	background: url('https://sun9-45.userapi.com/hEQhH2jxDrt9dY8DFTka_w3ETVIkFGo-ntwt8g/Nqb8C2aQd_Q.jpg')
		no-repeat center;
	background-size: 134%;
	height: 70px;
	width: 70px;

	/* opcaity: 0.85; */
	transition-duration: 0.15s;
	border-radius: 50px;
}

.avatar_place {
	flex-grow: 3;
}

.name {
	height: 45px;
}

.time_with_read {
	flex-grow: 1;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

.read {
	background: url('https://image.flaticon.com/icons/svg/60/60727.svg') no-repeat
		center;
	background-size: 100%;
	height: 20px;
	width: 20px;
}

.read_place {
	padding-top: 15px;
	padding-left: 20px;
}
