.messageForm_place {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	outline: 1px solid green;
	align-content: flex-end;
}

.content {
	margin-top: 40px;
	width: 100%;
	display: flex;
	flex: auto;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	align-content: flex-end;
	z-index: 0;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 0px;
}

.messageWrap {
	height: 100%;

	/* display: block; */
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
}

@keyframes appearance {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateX(0%);
	}
}

.footer {
	width: 100%;
	outline: 1px solid orange;
	background-color: #fff;
	z-index: 1;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 40px;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	background-color: #75b5ff;
	font-size: 20pt;
	font-family: 'Times New Roman';
}

.header {
	z-index: 2;
}

.backButton {
	cursor: pointer;
	background: url('https://image.flaticon.com/icons/svg/93/93634.svg') no-repeat;
	background-size: 100%;
	height: 100%;
	width: 39px;

	/* opcaity: 0.85; */
	transition-duration: 0.15s;
}

.backButton:hover {
	opacity: 1;
}

.backButton:active {
	opacity: 0.6;
}

.name_with_photo {
	display: flex;
}

.avatar_message {
	background: url('https://sun9-45.userapi.com/hEQhH2jxDrt9dY8DFTka_w3ETVIkFGo-ntwt8g/Nqb8C2aQd_Q.jpg')
		no-repeat center;
	background-size: 134%;
	height: 36px;
	width: 36px;

	/* opcaity: 0.85; */
	transition-duration: 0.15s;
	border-radius: 50px;
}

.avatar_message_place {
	padding-right: 10px;
}

.search {
	background: url('https://images.vexels.com/media/users/3/147104/isolated/preview/f6fa8014ab7b09a98c62064c76600008-instagram-search-button-by-vexels.png')
		no-repeat center;
	background-size: 100%;
	height: 36px;
	width: 36px;

	/* opcaity: 0.85; */
	transition-duration: 0.15s;
	cursor: pointer;
}

.options {
	background: url('https://www.pinclipart.com/picdir/big/256-2564454_-xbox-png-.png')
		no-repeat center;
	background-size: 100%;
	height: 36px;
	width: 36px;

	/* opcaity: 0.85; */
	transition-duration: 0.15s;
	cursor: pointer;
}

.search_options_place {
	display: flex;
}
